// Font
$font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Border radius
$border-radius: 1px !default;
$border-radius-lg: 1px !default;
$border-radius-sm: 1px !default;

// Form
$input-btn-focus-width: 0px !default;
// $input-btn-focus-color:       rgba($component-active-bg, .25) !default;
